/* PRESETS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}


/* NAVIGATION BAR STYLES */

.navigation-bar {
  width: 100%;
  background-color: transparent;
  padding: 0 100px;
  position: fixed;
}

.navigation-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-bar li {
  height: 50px;
}

.navigation-bar a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  transition: ease 250ms;
}

.navigation-bar span {
  color: #936db0;
}

.navigation-bar li:first-child {
  font-size: 1.4rem;
  font-weight: 800;
  margin-right: auto;
}
.navigation-bar li:first-child a:hover {
  color: #fff;
}

.navigation-bar a:hover {
  color: #936db0;
  scale: 1.03;
}

.navigation-bar i{
  color: #fff;
  font-size: 1.2rem;
  padding-right: 20px;
  cursor: pointer;
  display: none;
}


/* SLIDE-IN MENU STYLES */


.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #e5e5e57e;
  backdrop-filter: blur(10px);
  border-left: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: ease 500ms;
  z-index: 10;
}

.slide-menu i{
  position: absolute;
  left: 20px;
  color: #fff;
  font-size: 1.2rem;
  padding: 20px 0;
  cursor: pointer;
}

.slide-menu nav {
  width: 100%;
}

.slide-menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.slide-menu li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.slide-menu a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1024px) {
  .navigation-bar {
    padding: 0 50px;
  }

}

@media (max-width: 800px) {
  .navigation-bar {
    padding: 0;
  }

  .navigation-bar i {
    display: block;
  }

  .navigation-bar li:first-child a{
    display: flex;
  }

  .navigation-bar a{
    display: none;
  }
}

@media (max-width: 450px) {
  .slide-menu {
    width: 100%;
  }
}


/* HOME PAGE STYLES */

.home {
  min-height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(-135deg, #05101f 0%, #455f74 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h3 {
  padding-bottom: 15px;
  color: #936db0;
}

.home h1 {
  color: #fff;
  font-size: 2.7rem;
}

.home span {
  color: #936db0;
}

.home p {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.home button {
  font-size: 1.1rem;
  font-weight: 600;
  width: 160px;
  height: 60px;
  margin: 25px;
  border: 2.5px solid #936db0;
  border-radius: 5px;
  color: #936db0;
  background: transparent;
  backdrop-filter: blur(30px);
  cursor: pointer;
  transition: ease 250ms;
}

.home button:hover {
  scale: 1.03;
  background: #936db0;
  color: #fff;
}