/* PRESETS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}


/* NAVIGATION BAR STYLES */

.navigation-bar {
  width: 100%;
  background-color: #fff;
  padding: 0 100px;
  border-bottom: 1px solid #000;
}

.navigation-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-bar li {
  height: 50px;
}

.navigation-bar a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  transition: ease 250ms;
}

.navigation-bar span {
  color: #09a2d0;
}

.navigation-bar li:first-child {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: auto;
}
.navigation-bar li:first-child a:hover {
  color: #000;
}

.navigation-bar a:hover {
  color: #09a2d0;
}

.navigation-bar i{
  color: #000;
  font-size: 1.2rem;
  padding-right: 20px;
  cursor: pointer;
  display: none;
}


/* SLIDE-IN MENU STYLES */


.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: ease 500ms;
  z-index: 10;
}

.slide-menu i{
  position: absolute;
  left: 20px;
  color: #000;
  font-size: 1.2rem;
  padding: 20px 0;
  cursor: pointer;
}

.slide-menu nav {
  width: 100%;
}

.slide-menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.slide-menu li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #000;
}

.slide-menu a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 800px) {
  .navigation-bar {
    padding: 0;
  }

  .navigation-bar i {
    display: block;
  }

  .navigation-bar li:first-child a{
    display: flex;
  }

  .navigation-bar a{
    display: none;
  }
}

@media (max-width: 450px) {
  .slide-menu {
    width: 100%;
  }
}